*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    margin: auto;
    margin-top: 30px;
    width: 400px;
}


/* Buttons styles  */

.btn{
    padding: 7px 14px;
    border: none;
    background-color: transparent;
    outline: none;
    font-weight: 700;
    border-radius: 5px;
    opacity: 1;
}

.btn:hover{
    opacity: 0.7;
    cursor: pointer;
}

.btn:active{
    opacity: 0.5;
}


.btn--danger{
    background-color: rgb(228, 79, 79);
    color: white;

}

/* .btn-danger:hover{
    background-color: pink;
} */

.btn--success{
    background-color: rgb(62, 236, 62);
    color: white;
}

.btn--info{
    background-color: rgb(63, 63, 255);
    color: white;
}

.btn--other{
    background-color: black;
    color: white;
}

.text{
    width: 300px;
    border: 1px dashed red;
    margin: 30px auto 0 auto;
    font-size: 19px;
    height: 46px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    transition: all .4s ease;
}

.text:hover{
    height: 400px;
    white-space: initial;
    overflow: auto;
    text-overflow: initial;
}